root = true

[*]
indent_size = 4
indent_style = space

charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

dotnet_analyzer_diagnostic.category-Design.severity = error
dotnet_analyzer_diagnostic.category-Documentation.severity = error
dotnet_analyzer_diagnostic.category-Globalization.severity = error
dotnet_analyzer_diagnostic.category-Interoperability.severity = error
dotnet_analyzer_diagnostic.category-Maintainability.severity = error
dotnet_analyzer_diagnostic.category-Naming.severity = error
dotnet_analyzer_diagnostic.category-Performance.severity = error
dotnet_analyzer_diagnostic.category-SingleFile.severity = error
dotnet_analyzer_diagnostic.category-Reliability.severity = error
dotnet_analyzer_diagnostic.category-Security.severity = error
dotnet_analyzer_diagnostic.category-Style.severity = error
dotnet_analyzer_diagnostic.category-Usage.severity = error
dotnet_analyzer_diagnostic.category-CodeQuality.severity = error

[*.cs]
csharp_style_expression_bodied_accessors = false
csharp_style_expression_bodied_properties = false
csharp_style_implicit_object_creation_when_type_is_apparent = false
csharp_style_namespace_declarations = file_scoped
csharp_style_prefer_primary_constructors = false
csharp_style_prefer_switch_expression = false
dotnet_code_quality.CA1501.additional_inheritance_excluded_symbol_names = N:Avalonia.Controls
dotnet_diagnostic.IDE0058.severity = none
dotnet_style_predefined_type_for_locals_parameters_members = false
dotnet_style_predefined_type_for_member_access = false
dotnet_style_prefer_collection_expression = false
dotnet_style_prefer_conditional_expression_over_return = false
dotnet_style_qualification_for_field = true
dotnet_style_qualification_for_property = true
dotnet_style_qualification_for_method = true
dotnet_style_qualification_for_event = true
